<div class='page page--background'>
  <header>
    {{> back-button}}
  </header>

  <form class="page__section">
    <h1 class="page__title">Підтвердження пошти</h1>
    <p class="page__subtitle">На вашу пошту надіслано код підтвердження облікового записую ВВедіть його сюди</p>
    <div class="form">
      <div class="form__item">
       {{> field action="signupConfirmForm.change" label="Код" type="number" name="code" placeholder="Ваш е-код"}}
        <span name="code" class="form__error">Помилка</span>
      </div>
    </div>
  <button onclick="signupConfirmForm.submit()" class="button button--disabled" type="button">Змінити пароль</button>

  <span class="alert alert--disabled">Підтвердити</span>

  <span class="link__prefix">Загубили код?
    <a href="/signup-confirm" class="link" id="renew">
    Відправити ще раз
    </a> 
    </span>
  </form>
</div>
