{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class='page page--background'>
  <header>
    {{> back-button}}
  </header>

  <form class="page__section">
    <h1 class="page__title">Відновлення паролю</h1>
    <div class="form">
      <div class="form__item">
       {{> field action="recoveryForm.change" label="Ел. адреса" type="email" name="email" placeholder="Ваш е-мейл"}}
        <span name="email" class="form__error">Помилка</span>
      </div>
      </div>
  <button onclick="recoveryForm.submit()" class="button button--disabled" type="button">Відновити пароль</button>
  <span class="alert alert--disabled">Внимание, ошибка! </span>

  <span class="link__prefix">Маєте акаунт? <a href="/login" class="link">Увійти</a></span>
  </form>
</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}