{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class='page page--top'>
  <header>
    {{> back-button}}
  </header>
 <h1 class="page__title">Інформація користувача</h1>
 <hr class="page__divider"> 
  <div class="page__section" id="user-item"></div>
</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}