{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class='page page--background'>
  <header>
    {{> back-button}}
  </header>

  <form class="page__section">
    <h1 class="page__title">Реєстрація</h1>
    <div class="form">
      <div class="form__item">
       {{> field action="signupForm.change" label="Ел. адреса" type="email" name="email" placeholder="Ваш е-мейл"}}
        <span name="email" class="form__error">Помилка</span>
      </div>
      <div class="form__item">
       {{> field-password action="signupForm.change" label="Пароль"  name="password" placeholder="Введіть пароль"}}
        <span name="password" class="form__error">Помилка</span>
      </div>
      <div class="form__item">
       {{> field-password action="signupForm.change" label="Пароль ще раз"  name="passwordAgain" placeholder="Введіть пароль"}}
        <span name="passwordAgain" class="form__error">Помилка</span>
      </div>
       <div class="form__item">
       {{> field-select action="signupForm.change" label="Pоль"  name="role" placeholder="Оберіть роль" list=data.role}}
        <span name="role" class="form__error">Помилка</span>
      </div>
      <div class="form__item">
       {{> field-checkbox action="signupForm.change" label="Ви погоджуетесь з правилами сервіса"  name="isConfirm" }}
        <span name="isConfirm" class="form__error">Помилка</span>
      </div>
    </div>
  <button onclick="signupForm.submit()" class="button button--disabled" type="button">Зареєструватися</button>
  <span class="alert alert--disabled">Внимание, ошибка! </span>

  <span class="link__prefix">Маєте акаунт? <a href="/login" class="link">Увійти</a></span>
  </form>
</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}